.form__inner{
	display: flex;
	justify-content: space-between;
}

label{
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: $white-color;
	text-transform: uppercase;
}

.form__input-textarea{
	display: flex;
    flex-direction: column;
    background-color: inherit;
}

.form__column--1{
	width: 40.2%;
}

.form__column--2{
	width: 48.75%;
	padding: 15px 15px 0 0;
}

.form__column--2 p:nth-child(1){
	margin-bottom: 40px;
}

input{
	width: 100%;
	background-color: inherit;
	border: 2px solid $white-color;
	padding: 12px 0 12px 10px;
	color: $white-color;
	font-size: 28px;
}

.form__input-text{
	margin: 0px 0px 35px 0
}

.form__column--2 p{
	font-size: 14px;
	line-height: 24px;
	color: $white-color;
}

textarea{
	border: 2px solid $white-color;
	padding: 0px 0 0px 10px;
	color: $white-color;
	font-size: 28px;
	resize: none;
	background-color: inherit;
	height: 216px;
	margin-bottom: 40px;
}

.form__submit{
	background-color: #4bcaff;
	border: none;
	text-transform: uppercase;
	text-align: center;
	width: 370px;
	height: 60px;
	color: $white-color;
	font-weight: bold;
	font-family: "Segoe UI";
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 80px;
	cursor: pointer;
}

@media(max-width: 960px){
	.contact__wrapper{
		width: 100%;
		padding: 80px 2% 80px 2%;
	}

	.form__submit{
		display: block;
		width: 100%;
    	height: 100px;
    	margin-bottom: 0px;
	}
}