.john{
	background: #515f67 url(../img/bg-photo.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.john__wrapper{
	width: 61.5%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.john__wrapper h3{
	font-size: 30px;
	line-height: 24px;
	color: $white-color;
	margin-top: 100px;
	text-transform: uppercase;
	margin-bottom: 50px;
	position: relative;
	&:after{
		content: "";
		position: absolute;
		height: 2px;
		width: 45px;
		background-color: $white-color;
    	bottom: -10px;
    	left: -1px;
	}
}

.john__wrapper p{
	font-size: 14px;
	line-height: 24px;
	color: $white-color;
}

.john__inner{
	width: 48.71%;
}

.john__column{
	display: flex;
	justify-content: space-between;
}

.john__inner--1 p:nth-child(1){
	margin-bottom: 34px;
}

.john__inner p:nth-child(2){
	margin-bottom: 176px;
}

.john__list-item{
	border: 2px solid $white-color;
	padding: 10px 30px 30px 26px;
	position: relative;
}

.john__list{
	display: flex;
	margin: 55px 0 0 0;
}

.john__list li{
	margin: 0 20px 0px 0px;
}

.john__list-item--tw:before{
	content: "";
	position: absolute;
	width: 28px;
	height: 22px;
    left: 17px;
    top: 17px;
	background-image: url("../img/twiiter-icon.png");
}

.john__list-item--google:before{
	content: "";
	position: absolute;
	width: 28px;
	height: 29px;
    left: 17px;
    top: 15px;
	background-image: url("../img/g-icon.png");
}

.john__list-item--ball:before{
	content: "";
	position: absolute;
	width: 26px;
	height: 27px;
    left: 15px;
    top: 15px;
	background-image: url("../img/ball-icon.png");
}

.john__list-item--coffee:before{
	content: "";
	position: absolute;
	width: 31px;
	height: 24px;
    left: 13px;
    top: 17px;
	background-image: url("../img/cup-icon.png");
}

@media(max-width: 960px){
	.john__wrapper{
		width: 100%;
		padding-right: 2%;
		padding-left: 2%;
	}

	.john__inner{
		margin-right: 2%;
	}

	.john__wrapper h3{
		text-align: center;
			&:after{
				content: none;
			}
	}

	.john__inner p:nth-child(2){
		margin-bottom: 120px;
	}
}

@media(max-width: 960px){
	.john__wrapper h3{
		margin-top: 50px;
	}
}