.picture__column{
	display: flex;
	justify-content: space-between;
}

.picture__column--1{
	margin-bottom: 30px;
}

.picture__column-item{
	position: relative;
	cursor: pointer;
	max-width: 23.1%;
	max-height: 270px;
	overflow: hidden;
}
.picture__column-item img{
	transition: all 1s ease-out;
	position: relative;
	&:hover{
		transform: scale(1.1);
	}
}

@media(max-width: 960px){
	.portfolio__wrapper{
		width: 100%;
		padding-left: 2%;
		padding-right: 2%;
	}
}



