.twitter{
	background-color: #4bcaff;
	padding-top: 80px;
	padding-bottom: 80px;
}

.twitter__wrapper{
	width: 61.5%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	&:before{
		content: "";
		position: absolute;
		width: 28px;
		height: 22px;
		background-image: url("../img/twiiter-icon.png");
		right: 0px;
		top: 0px;
	}
}

.twitter__wrapper h3{
	color: $white-color;
	font-size: 30px;
	line-height: 24px;
	font-weight: 300;
	margin-bottom: 50px;
	text-transform: uppercase;
	position: relative;
	&:after{
		content: "";
		position: absolute;
		height: 2px;
		width: 45px;
		background-color: $white-color;
    	bottom: -10px;
    	left: -1px;
	}
}

.twitter__wrapper p{
	font-size: 28px;
	line-height: 50px;
	color: $white-color;
	font-weight: 300;
}

.twitter__wrapper span{
	font-weight: 400;
}

@media(max-width: 960px){
	.twitter__wrapper{
		width: 100%;
		padding-right: 2%;
		padding-left: 2%;
	}

	.twitter__wrapper h3{
		text-align: center;
		&:after{
			content: none;
		}
	}
}
