body{
	margin: 0 0;
	padding: 0 0;
	font-family: "Roboto", Arial, sans-serif;
	color: #fff;
	background-color: #849d8f;
}

a{
	text-decoration: none;
}

.main-wrapper{
	z-index: 90;
	width: 1200px;
	margin: 0 auto;
	height: auto;
}

.main-container{
	display: block;
	flex-direction: column;
}

.header-container{
	display: flex;
	justify-content: space-between;
	padding: 0 2.3%;
}

.list-navigation,
.user-navigation{
	display: flex;
}

.list-navigation .sub-list{
	position: relative;
	z-index: 20;
	display: inline-flex;
	padding-bottom: 5px;
	vertical-align: top;
}

.list-navigation .sub-list:nth-child(3){
	margin-left: -2px;
}

.main-navigation{
	display: inline-block;
}

.main-logo {
	width: 153px;
	height: 63px;
	padding: 7px 0px;
}

.list-navigation,
.main-sub-menu,
.user-navigation,
.item{
	list-style: none;
	margin: 0 0;
	padding: 0 0;
}

.user-navigation{
}

.list-navigation{
	padding: 21px 0px 0px 8px;
	margin-left: 0px;
	float: right;
}

.sub-list > a{
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	text-decoration: none;
	padding: 7px 15px;
	border-radius: 15px;
}

.sub-list > a::after {
	content: "";
	display: block;
	height: 1px;
	background-color: rgba(255,255,255,.4);
}

.sub-active-button{
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	pointer-events: none;
}

.sub-active-button a{
	color:#fff;
	background-color: #d07058;
}

.active-page:first-child > a{
	color: #fff;
	background-color: #d07058;
}

.active-page a::after{
	display: none;
}

.sub-list:hover >a{
	color:#333;
	background-color: #f7f6f3;
}

.sub-list:active >a{
	box-shadow: inset 0 2px 1px #696969;
}

.active-page:first-child > a {
	color: #fff;
	background-color: #d07058;
}

.user-nav-search a,
.user-nav-login > a,
.user-cart > a{
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;

}

.wrapper-form-login,
.user-cart-form{
	background-color: #f8f7f4;
	position: absolute;
}

.user-cart-form{
	position: absolute;
	top: 37px;
	right: 0;
	z-index: 50;
	display: none;
	box-sizing: border-box;
	width: 540px;
	padding: 15px 15px 20px;
	color: #323232;
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0,0,0,.4);
}
.cart-item{
	width: 100%;
	border-bottom: 1px solid #cacac7;
	font-size: 13px;
	line-height: 16px;
	color: #323232;
}

.cart-item td {
	padding-right: 5px;
	padding-bottom: 15px;
	vertical-align: middle;
}

.cart-item-list td:nth-child(3) {
	width: 235px;
	padding-right: 10px;
}

.modal-close-cart {
	width: 10px;
	height: 11px;
	font-size: 0;
	background: url(../img/cross-small.svg);
	border: none;
	cursor: pointer;
	background-repeat: no-repeat;
}

.cart-item img {
	width: 33px;
	height: 33px;
	border-radius: 50%;
}

.cart-wrapper:hover .user-cart-form{
	display: block;
}

.cart-total{
	display: block;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-align: right;
}

.user-cart-form .button{
	padding-right: 15px;
	padding-left: 15px;
	float: right;

}

.input-search{
	width: 311px;
	margin-left: 15px;
}

.button-login:hover,
.button-cart:hover{
	background-color: #f7f6f3;
	color: #333333;
	font-weight: 500;
	cursor: pointer;
	font-size: 14px;
	line-height: 16px;
	border-radius: 15px;
}

.button-login:hover ~ .wrapper-form-login{
	display: block;
	position: absolute;
	width: 100px;
	height: 100px;
}

.item-title span{
	color: #9f9f9f;
}

.user-nav-reg a{
	font-size: 14px;
	line-height: 16px;
	color: #323232;
}

.header-contact{
	position: relative;
	z-index: 40;
	float: right;
	text-align: right;
}

.header-contact-mode{
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	margin: -7px;
	padding: 0;
	margin-bottom: 0px;
	margin-right: 26px;

}

.header-contact-number{
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
	margin: 5px 0;
	margin-right: 24px;
	margin-bottom: 10px;
	word-spacing: normal;
}

.slider-title{
	font-size: 60px;
	line-height: 60px;
}

.button{
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	vertical-align: top;
	background-color: #e84d37;
	border: none;
	border-radius: 23px;
	box-shadow: 0 2px 2px rgba(85,8,0,.54);
	cursor: pointer;
	padding: 10px 18px;
	font-family: inherit;
}

.button:hover,
.button:focus{
	background-color: #f07a63;
	outline: none;
}

.slider-button{
	font-size: 32px;
	line-height: 44px;
}

.button:active{
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);

}

.block-promo{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 2.3%;
	margin-bottom: 43px;
}

.promo-raspberry h2,
.promo-chocolate h2{
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
	margin: 18px 0px 0px 20px;
}

.block-promo .block{
	width: 48.9%;
}

.promo-raspberry{
	display: block;
	background-image: url(../img/crimson-background.png);
	background-color:red;
	border-radius: 15px;
	padding: 0px 0px 0px 0px;
}

.promo-chocolate{
	display: block;
	background-image: url(../img/chocolate-background.png);
	background-color: #323232;
	border-radius: 15px;
}

.wrap-promo .button{
	position: relative;
	float: right;
	right: 18px;
	top: -2px;
	width: 133px;
	white-space: nowrap;
}

.promo-chocolate .button{
	position: relative;
	float: right;
	right: 21px;
	top: -2px;
	width: 150px;
	white-space: nowrap;
}

.wrap-promo{
	padding-bottom: 65px;
}

.promo-svg::before{
	content: "";
	position: absolute;
	width: 61px;
	height: 61px;
	background-image: url(../img/hit.svg);
	background-repeat: no-repeat;
}

.promo-raspberry p,
.promo-chocolate p{
	color: #ffffff;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	margin: 16px 0px 0px 20px;
	padding-bottom: 47px;
}

.promo-raspberry p{
	padding-right: 15px;
}

.item:hover::before{
	content: "";
	position: absolute;
	display: block;
	width: 277px;
	height: 412px;
	background-color: rgba(255,255,255,.2);
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0,0,0,.4);
	margin: -5px -5px 0px -6px;
}

.item-list{
	display: flex;
	padding: 0 2.3%;
	justify-content: space-between;
}

.catalog-item{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0px 22px 0px 0px;
}


.item-list li{
	display: flex;
	flex-direction: column;
	width: 23.35%;
	margin: 0 0;
}

.item-list img{
	width: 267px;
	height: 267px;
	margin: -2px;
	border-radius: 65%;
}

.price-item{
	position: relative;
	bottom: 55px;
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
	text-shadow: 0 1px 3px rgba(49,50,53,.5);
}

.price-item span{
	font-size: 30px;
	line-height: 45px;
	font-weight: 700;
}

.price-item img {
	width: 32px;
	height: 34px;
	border-radius: 0;
	margin-left: -8px;
	margin-bottom:-2px;
}

.item h3{
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	margin-top: -37px;
}

.item .button{
	position: relative;
	margin-right: 56px;
	right: -28px;
	visibility: hidden;
	white-space: nowrap;
}

.item:hover .button{
	visibility: visible;
}

.item a:last-child{
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255, 0.5);
	position: relative;
	z-index: 20;
}

.wrapper-feature{
	padding: 0 2.3%;
}

.about-us-feature p{
	padding: 0 0;
	margin: 0 0;
}

.features-title .about-us-feature{
	margin: 0;
	padding: 0;
}

.features-title{
	margin: 0;
	padding: 0;
}

.main-block-features .about-us-feature{
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 48.9%;
	margin-right: 2px;
	padding: 12px 8px 10px 76px;
	list-style-type: none;
	font-size: 16px;
	line-height: 22px;
	vertical-align: top;
	color: #323232;
}

.about-us-feature p{
	padding: 0 0;
	margin: 0 0;
}

.wrapper-feature{
	padding: 0 2.3%;
	margin-top: -38px;
}

.main-block-features{
	background-image: url(../img/background-pattern.jpg);
	margin-bottom: 40px;
	padding: 15px 0;
	border-radius: 15px;
}

.about-features{
	margin-top: 8px;
	margin-bottom: 9px;
	padding-left: 20px;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	color: #323232;
}

.feature-title{
	margin: 0;
	padding: 0;
}

.main-block-features .feature-icecream::before{
	content: "";
	position: absolute;
	top: -1px;
	left: 20px;
	width: 49px;
	height: 49px;
	background-image: url(../img/ice-cream.svg);
}

.main-block-features .feature-cow::before{
	content: "";
	position: absolute;
	top: -1px;
	left: 20px;
	width: 49px;
	height: 49px;
	background-image: url(../img/cow.svg);
}

.main-block-features .feature-eco::before{
	content: "";
	position: absolute;
	top: -1px;
	left: 20px;
	width: 49px;
	height: 49px;
	background-image: url(../img/eco.svg);
}

.main-block-features .feature-thermometer::before{
	content: "";
	position: absolute;
	top: -1px;
	left: 20px;
	width: 49px;
	height: 49px;
	background-image: url(../img/thermometer.svg);
}

.bottom-block{
	display: flex;
	justify-content: space-between;
	padding: 0 2.3%;
	margin-bottom: 40px;
}

.post-block{
	width: 48.9%;
	background-image: url(../img/strawberry-background.png);
	background-position: -22% 39%;
	border-radius: 15px;
	max-height: 259px;
}

.subscribe-block{
	width: 48.9%;
	background-color: #f8f7f4; 
	border-radius: 15px;
	font-weight: normal;
	background: url(../img/mail-background.png);
	background-repeat: no-repeat;
}

.wrapper-subscribe{
	position: relative;
	box-sizing: border-box;
	margin: 6px 5px 6px 5px;
	background-color: #f8f7f4;
	border-radius: 10px;
	min-height: 205px;
	padding: 12px 23px 12px 18px;
}

.wrapper-subscribe .input-field{
	width: calc(100% - 141px);
	min-width: auto;
	margin: 14px 5px 5px 5px;
}

.wrapper-subscribe .button{
	float: right;
	margin-top: 13px;
	margin-right: -3px;
}

.subscribe-block p{
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #5a5a5a;
	padding-bottom: 4px;
}

.new-post{
	min-height: auto;
	padding: 9px 257px 5px 17px;
}

.new-post h2{
	margin-left: 4px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #353535;
}

.new-post a{
	font-size: 24px;
	line-height: 30px;
	color: #353535;
	font-weight: bold;
	text-decoration: underline;
	margin: -10px -6px 17px 0px;
	position: relative;
	top: -9px;

}

.map-address-block{
	position: relative;
	top: 64px;
	right: 26px;
	float: right;
	box-sizing: border-box;
	width: 302px;
	padding: 15px 25px;
	font-size: 14px;
	line-height: 20px;
	color: #323232;
	background-color: #fff;
	border-radius: 15px;
	padding-bottom: 29px;
}

.address-info{
	font-size: 14px;
	line-height: 20px;
	color: #323232;
	padding-bottom: 11px;
}

.map-address-bold,
.map-address-phone{
	font-size: 18px;
	line-height: 24px;
	font-weight: bold; 
	color: #323232;
}

.address-info,
.wrapper-popup-feedback h3,
.cart-item-list a,
.item-title{
	color: #323232;
}

.wrapper-popup-feedback h3{
	margin: 16px 0 0;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
}

.wrapper-popup-feedback{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	box-sizing: border-box;
	width: 476px;
	height: 442px;
	margin-top: -221px;
	margin-left: -238px;
	padding-right: 25px;
	padding-left: 25px;
	color: #323232;
	background-color: #f8f7f4;
	border-radius: 10px;
	z-index: 100;
}

@keyframes bounce{
	0%{
		transform: translateY(-2000px);
	}
	70%{
		transform: translateY(30px);
	}
	90%{
		transform:  translateY(-10px);
	}
	100%{
		transform: translateY(0);
	}
}

.wrapper-popup-feedback-show{
	display: block;
	animation: bounce;
	animation-duration: 0.6s;
}

@keyframes shake{
	0%, 100%{
		transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90%{
		transform: translateX(-10px);
	}
	20%, 40%, 60%, 80%{
		transform: translateX(10px);
	}
}

.modal-error{
	animation-name:shake;
	animation-duration: 0.6s; 
}

.wrapper-popup-feedback .input-text,
.wrapper-popup-feedback .input-guest-email{
	width: 267px;
}

.wrapper-popup-feedback .input-textarea{
	width: 428px;
	height: 155px;
	resize: none;
}

.modal-close{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 17px;
	height: 17px;
	font-size: 0;
	background-color: #f8f7f4;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.modal-close::before{
	content: "";
	position: absolute;
	top: 10px;
	left: -2px;
	width: 22px;
	height: 20px;
	background-image: url(../img/cross-big.svg);
	background-repeat: no-repeat;
}

.wrapper-popup-feedback .button{
	float: right;
	margin-top: 15px;
}

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
}

.map{}

.social-button{
	display: flex;
	width: 31px;
	height: 31px;
	margin-right: 15px;
	margin-left: 3px;
	vertical-align: top;
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(255,255,255,.6), inset 0 0 0 1px rgba(255,255,255,.6);
	opacity: 0.8;
}

.user-nav-reg a{
	border-bottom: 1px solid rgba(178,178,178, 0.5);
}

.user-nav-reg a:hover,
.user-nav-reg a:active{
	color: #e84d37;
	border-bottom: 1px solid rgba(249,205,196, 0.5);
}

.pagination-list{
	float: right;
	display: inline-flex;
	list-style: none;
}

.pagination-item-current{
	width: 26px;
	height: 26px;
	background-color: #fff;
	color:#323232;
	text-align: center;
	border-radius: 50%;
	line-height: 26px;
}

.pagination-list a{
	line-height: 26px;
	display: inline-block;
	width: 26px;
	height: 26px;
	margin: 0 0 0 3px;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color:#fff;
	border-radius: 50%;
}

.pagination-list a:hover{
	background-color: rgba(255,255,255,.2);
	border-radius: 50%;
}

.pagination-list a:active{
	color:#323232;
	background-color: #fff;
}

.pagination-list li:first-child {
	margin-left: 0;
	font-size: 22px;
	color: rgba(255,255,255,.2);
	margin: 0 14px 0px 0px;
}

.pagination-next a{
	font-size: 22px;
	color: #fff;
}

.pagination-next a:hover{
	background: 0 0;
	font-weight: 900;
}

.wrapper-catalog{
	padding: 0 2.3%;
}

.filter fieldset{
	border: none;
}

.filter legend{
	font-size: 14px;
	line-height: 16px;
}

.filter ul{
	margin: 0 0;
	list-style: none;
	line-height: 36px;
}

.filter li{
	display: inline-flex;
}

.filter-category{
	display: inline-flex;
	font-size: 16px;
	vertical-align: top;
}

.sort-list {
	height: 36px;
	padding: 0 35px 0 15px;
	font-size: 16px;
	line-height: 36px;
	color: #fff;
	background: rgba(255,255,255,.2) url(../img/select-arrow.svg) no-repeat 170px 51%;
	border: none;
	border-radius: 18px;
	outline: none;
	-webkit-appearance: none;
}

.filter select:hover {
	color: #343434;
	background: #fff url(../img/icon-down-dir.svg) no-repeat 170px 50%;
}

.wrapper-form{
	height: 36px;
	padding: 0 15px;
	line-height: 36px;
	border-radius: 18px;
	font-size: 16px;
	color: #fff;
	background-color: rgba(255,255,255,.2);
}

.range-wrapper{
}

input[type=range] {
	width: 178px;
	padding-right: 0;
	padding-left: 0;
	vertical-align: middle;
	background: 0 0;
	border: none;
	-webkit-appearance: none;
}

input.second-range {
	width: 100px;
	margin-left: -153px;
}

.filter legend {
	padding-left: 16px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
}

.filter-input-radio{}

.breadcrumbs{
	list-style: none;
}

.breadcrumbs a{
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255, 0.5);
}

.breadcrumbs-current{
	font-size: 14px;
	line-height: 16px;
}

.footer-info a:hover,
.footer-copyright a:hover,
.breadcrumbs a:hover,
.item a:last-child:hover{
	border-bottom: 1px solid rgba(255,204,153, 0.5);
	color: #ffbc9e;
}

.footer-info a:active,
.footer-copyright a:active,
.breadcrumbs a:active,
.item a:last-child:active{
	color: #ffbc9e;
}

.footer-info{
	margin: 0 0 0 0;
}

.filter-button{
	font-family: "Roboto", Arial, sans-serif;
	margin-top: 21px;
	padding: 7px 26px;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	border: 2px solid #fff;
	border-radius: 19px;
	background-color: rgba(255,255,255,.2);
	color: #fbfcfb;
	cursor: pointer;
	outline: none;
}

.filter-button:hover,
.filter-button:focus{
	border: 3px solid #fbfcfb;
	background-color: #fbfcfb;
	color: #353535;
}

.filter-button:active,
.filter-button:focus{
	background-color: #eaeaea;
	border: 3px solid #eaeaea;
}

.filter-button:active{
	padding: 9px 28px;
	border: none;
	box-shadow: inset 0 2px 1px #696969;
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.input-field{
	font-family: "Roboto", Arial, sans-serif;
	border: 1px solid rgba(178,178,178,.52);
	border-radius: 5px;
	padding: 10px 14px;
	line-height: 24px;
	outline: none;
}

.input-field:hover{
	border: 1px solid rgb(154,154,154);
	padding: 9px 13px;
	border: 2px solid rgba(154,154,154,.5);
}

.input-field:focus{
	border: 2px solid rgba(46,136,228,.52);
	padding: 9px 13px;
}

.slider{
	position: relative;
	z-index: 10;
	margin: 0px 2.3% 41px;
	padding-top: 313px;
	text-align: center;
	color: #fff;
}

.slider-list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.slide{
	display: none;
}

.slide-title{
	width: 700px;
	margin: 0 auto;
	margin-bottom: 27px;
	font-size: 60px;
	line-height: 60px;
	font-weight: 800;
}

.button-slider{
	display: inline-block;
	padding: 12px 44px;
	font-weight: 600;
	font-size: 31px;
	line-height: 41px;
	text-align: center;
	color: #ffffff;
	vertical-align: top;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 50px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
	cursor: pointer;
}

.button-slider:hover{
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button-slider:active{
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls{
	position: absolute;
	left: 0;
	z-index: 20;
	font-size: 0;
	bottom: 23px;
}

.slider-controls label{
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

#product-1:checked ~ .main-wrapper{
	background-color: #849d8f;
	background-image: url(../img/slider-ice-cream-crimson.png);
	background-repeat: no-repeat;
	background-position: center top;
	z-index: 90;
}

#product-2:checked ~ .main-wrapper{
	background-color: #8996a6;
	background-image: url(../img/slider-ice-cream-chocolate.png);
	background-position: center top;
	background-repeat: no-repeat;
	z-index: 90;
}

#product-3:checked ~ .main-wrapper{
	background-color: #9d8b84;
	background-image: url(../img/slider-ice-cream.png);
	background-repeat: no-repeat;
	background-position: center top;
}

#product-1:checked ~ .main-wrapper #slide1,
#product-2:checked ~ .main-wrapper #slide2,
#product-3:checked ~ .main-wrapper #slide3{
	display: block;
}

#product-1:checked ~ .main-wrapper label[for="product-1"],
#product-2:checked ~ .main-wrapper label[for="product-2"],
#product-3:checked ~ .main-wrapper label[for="product-3"] {
	background-color: #ffffff;
}

.filter-category{
	display: inline-flex;
	font-size: 16px;
}

.catalog-list .item{
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	margin: auto;
}

.footer-copyright > a,
.footer-copyright > a:hover{
	border:none;
}

.main-footer{
	display: flex;
}

.main-social-list li,
.footer-info li{
	list-style: none;
}

.footer-wrapper{
	padding: 0px 2.3%;
	display: inline-flex;
	width: auto;
}

.main-social-list a,
.footer-info a{
	font-size: 13px;
	color: #fff;
	line-height: 18px;
}

.footer-social-button{
	padding: 0px 0;
}

.main-social-list{
	padding: 0px 0px;
	display: flex;
	margin-right: 186px;
	margin-top: 0;
}

.footer-copyright a,
.footer-info a{
	color: #fff;
	font-size: 13px;
	line-height: 18px;
	border-bottom: 1px solid rgba(255,255,255, 0.5);
	white-space:nowrap;
}

.footer-copyright p{
	font-size: 13px;
	line-height: 18px;
}

.info-container{
	padding: 0px 0 0 0;
	display: flex;
}

.info-document{
	margin:-2px 0 0 -8px;
}

.info-document li{
	font-weight: normal;
}

.info-about{
	position: relative;
}

.heart:before{
	content: "";
	position: absolute;
	width: 16px;
	height: 13px;
	background-image: url(../img/heart.svg);
	background-repeat: no-repeat;
	left: 17px;
}

.heart::before:hover{
	background-color: red;
}

.footer-copyright p{
	margin-top: 0;
	font-size: 12px;
	line-height: 18px;
	white-space:nowrap;
}

.footer-copyright > a{
	border: none;
}

.footer-copyright a{
	margin-top: 0;
	font-size: 12px;
	line-height: 18px;
}

.footer-copyright{
	margin-bottom: 0px;
	margin-left: 231px;

}

.bold-info{
	font-weight: 700;
}

.list-navigation .main-sub-menu{
	position: absolute;
	top: 37px;
	box-sizing: border-box;
	width: 143px;
	margin-left: -7px;
	padding: 3px 0px 0px 23px;
	overflow: hidden;
	list-style: none;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0,0,0,.4);
}

.main-sub-menu{
	visibility:hidden;
}

.sub-list:hover .main-sub-menu {
	visibility: visible;
}

.sub-button{
	padding: 8px 5px 8px 22px;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	white-space: normal;
}

.sub-button > a{
	color: #323232;
	font-size: 14px;
	line-height: 16px;
	margin: 0px 0px 0px -106px;
	white-space: nowrap
}

.main-sub-menu a:hover {
	background-color: #fbded8;
	border-radius: 0;
}

.main-sub-menu a:active{
	background-color:#f6b5a5; 
}

.sub-button a {
	padding: 7px 63px 8px 85px;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	white-space: nowrap;
}

.sub-active-button a{
	color:#fff;
	outline: none;
}

.main-sub-menu .light {
	position: relative;
	padding-top: 11px;
	padding-bottom: 8px;
	font-weight: 700;
}

.main-sub-menu .light::after {
	content: "";
	position: absolute;
	right: 12px;
	bottom: 0;
	left: 69px;
	height: 1px;
	background-color: rgba(53,53,53,.2);
}

.social-tw{
	background: url(../img/twitter.svg);
}

.social-instagram{
	background: url(../img/instagram.svg)
}

.social-facebook{
	background: url(../img/fb.svg); 
}

.social-vk{
	background: url(../img/vk.svg);
}

.social-button:hover{
	opacity: 1;
}

.modal-map{
	background: url(../img/map.png);
	height: 431px;
}

.feedback-button-link{
	padding: 10px 27px;
	white-space: nowrap;
	outline: none;
}

.header-menu{
	float: right;
	width: 267px;
	margin-top: 22px;
	margin-right: -7px;
}

.button-search,
.login-button,
.cart-button{
	display: block;
	width: 32px;
	height: 30px;
	background-color: rgba(255,255,255,.2);
	border-radius: 50%;
	cursor: pointer;
}

.login-button{
	border-radius: 15px;
	display: block;
	margin-top: 0;
	padding: 0px 10px 0px 50px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	text-decoration: none;
}

.login-button a{
	color: #fff;
	position: relative;
	top: 7px;
	right: 5px;
}

.login-wrapper:hover .enter,
.cart-wrapper:hover .cart{
	color:#323232;
}

.login-button::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 16px;
	width: 23px;
	height: 19px;
	background-image: url(../img/entrance.svg);
	background-repeat: no-repeat;
	filter: brightness(0) invert(1);
}

.login-wrapper:hover .login-button::before{
	filter:invert(1%);
}

.search-wrapper{
	position: relative;
	text-align: left;
	padding-bottom: 5px;
	cursor: pointer;
}

.button-search:before {
	content: "";
	position: absolute;
	width: 17px;
	height: 17px;
	top: 7px;
	left: 7px;
	background-image: url(../img/loupe.svg);
	background-repeat: no-repeat;
}

.search-wrapper:hover .button-search::before{
	filter:invert(70%);
}

.search-form {
	position: absolute;
	top: 37px;
	right: 0;
	z-index: 50;
	width: 341px;
	min-height: 84px;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0,0,0,.4);
	display: none;
}

.search-wrapper:hover .search-form{
	display: block;
}

.search-wrapper:hover .button-search {
	background-color: #f8f7f4;
}

.button-search:hover{
	color:#323232;
}

.cart-wrapper:hover .cart-search {
	background-color: #f8f7f4;
}

.search-input{
	box-sizing: border-box;
	margin-top: 20px;
	margin-right: 0;
	padding: 10px 14px;
	overflow: hidden;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	white-space: nowrap;
	border: 1px solid rgba(178,178,178,.52);
	border-radius: 5px;
	box-shadow: none;
	width: 311px;
	margin-left: 15px;
	outline: none;
}

.login-wrapper,
.cart-wrapper{
	position: relative;
	margin-left: 10px;
}

.cart-button a{
	color: #fff;
	position: relative;
	top: 7px;
	right: 29px;
	white-space: nowrap;
}

.cart-button{
	border-radius: 15px;
	display: block;
	margin-top: 0;
	padding: 0px 10px 0px 74px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	text-decoration: none;
}

.cart-button:before {
	content: "";
	position: absolute;
	width: 25px;
	height: 24px;
	top: 5px;
	left: 14px;
	background-image: url(../img/basket.svg);
	background-repeat: no-repeat;
}

.cart-wrapper:hover .cart-button:before {
	content: "";
	position: absolute;
	width: 25px;
	height: 24px;
	top: 5px;
	left: 14px;
	background-repeat: no-repeat;
	background-image: url(../img/basket-red.svg);
}

.active-cart:before{
	background-repeat: no-repeat;
	background-image: url(../img/basket-red.svg);
}

.login-button:hover,
.cart-button:hover{
	background-color: #fff;
}

.login-form{
	width: 277px;
	min-height: 214px;
	position: absolute;
	top: 37px;
	right: 0;
	z-index: 80;
	display: none;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0,0,0,.4);
}

.input-field{
	box-sizing: border-box;
	margin-top: 20px;
	margin-right: 0;
	padding: 10px 14px;
	overflow: hidden;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	white-space: nowrap;
	border: 1px solid rgba(178,178,178,.52);
	border-radius: 5px;
	box-shadow: none;
}

.input-email{
	margin-left: 15px;
	width: 246px;
}

.input-password{
	margin-left: 15px;
	width: 246px;
}

.user-login .button{
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	padding: 10px 25px;
	border-radius: 21px;
}

.user-nav-reg{
	float: right;
	width: 140px;
	text-align: left;
	padding-top: 15px;
}

.user-nav-reg a {
	font-size: 13px;
	line-height: 22px;
	color: #323232;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,.3);
}

.login-wrapper:hover .login-button {
	background-color: #f8f7f4;
}

.login-wrapper:hover .login-form{
	display: block;
}

.cart-wrapper:hover .cart-button {
	background-color: #f8f7f4;
}

.input-filed[type=email]:hover, 
.input-filed[type=password]:hover, 
.input-filed[type=search]:hover, 
.input-filed[type=text]:hover, 
.search-input[type=search]:hover {
	padding: 9px 13px;
	border: 2px solid rgba(154,154,154,.52);
}

.search-input[type=search]:focus{
	border: 2px solid rgba(46,136,228,.52);
	padding: 9px 13px;
}

.input-filed[type="search"]::-webkit-input-placeholder{ 
	font-family: Roboto;
	color:#999999;
	font-weight: 400;
}

.breadcrumbs{
	margin: 0 0;
	padding: 0 0;
}

.breadcrumbs li{
	display: inline-block;
	padding-right: 18px;
	font-size: 14px;
	line-height: 16px;
}

.breadcrubms-list a{
	border-bottom: 0.5px solid rgba(255,255,255, 0.5);
}

.breadcrubms-list a:hover{
	border-bottom: none;
}

.breadcrumbs .breadcrubms-list::after {
	content: "»";
	position: relative;
	color: rgb(255, 255, 255);
	left:9px;
}
