.order--wrapper{
	max-width: 1210px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.order{
	    background: linear-gradient(to bottom, #991263, #000000);
}

.order-capture{
	    font-size: 40px;
    text-align: center;
    color: #E3A24A;
    margin-top: 50px;
    margin-bottom: 50px;
}

.order--inner{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.order-item__cost{
	text-align: center;
}

.order-item__cost-old{
	text-decoration: line-through;
	color: #ffffff;
	margin-top: 20px;
	font-size: 30px;
}

.order-item__cost-new{
	margin-top: 15px;
	font-size: 50px;
	color: red;
}

.order-item__title{
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	margin-top: 20px;
}

.order-item{
	margin-bottom: 50px;
}

@media(max-width: 1150px){
	.order--inner{
		justify-content: center;
	}
}

@media(max-width: 570px){
	.order--inner{
		justify-content: center;
	}
}