.cat{
	background: url(../img/cat-bg.jpg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}

.cat__wrapper{
	max-width: 1366px;
	margin: 0 auto;
	height: 504px;
	background-size: 100%;
	background-repeat: no-repeat;

}

.cat-title{
	margin-left: 198px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cat-title__city{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;

	color: #1A212F;
}

.cat-title__name{
	font-family: Rubik;
	font-style: normal;
	font-weight: bold;
	font-size: 62px;
	color: #1A212F;
	line-height: 73px;
}

.cat-title__title{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

.cat-title__order{
	max-width: 206px;
	height: 50px;
	border-radius: 25px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-decoration: none;
	margin-top: 40px;
	min-width: 206px;
	transition: all 0.2s ease-out;

	&:hover{
		box-shadow: 0 0 25px rgba(26, 33, 47, 0.5);

	}

	&:active{
		box-shadow: inset 0 0 25px 20px rgba(26, 33, 47, 0.2);
	}
	p{
		color: #1A212F;
		font-family: 'Lato', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		text-decoration: none;
		text-align: center;
		margin-left: 30px;
	}

	span{
		display: flex;
		width: 36px;
		height: 36px;
		background-color: #FF7236;
		align-items: center;
		justify-content: center;
		border-radius: 50%;

	}
}

@media(max-width: 768px){
	.cat__wrapper{
		background-image: url("../img/cat-bg-tablet.jpg");
		max-width: 768px;
    	height: 868px;
    	width: 100%;
	}

	.cat-title{
		margin: 0;
		text-align: center;
		align-items: center;
		justify-content: inherit;
	}

	.cat-title__city{
		margin-top: 140px;
	}

	.cat{
		background-image: none;
	}

}

@media(max-width: 570px){
	.cat__wrapper{
		background-image: url("../img/cat-bg-mobile.jpg");
		height: 457px;
	}

	.cat-title__city{
		margin-top: 50px;
		font-size: 12px;
	}

	.cat-title__name{
		font-size: 44px;
		line-height: 52px;
	}

	.cat-title__title{
		font-size: 16px;
	}
}