.header-wrapper{
	display: flex;
	max-width: 1366px;
	width: 100%;
	justify-content: space-between;
	margin:0 auto;
	padding-left: 98px;
	padding-right: 98px;
	height: 76px;
	align-items: center;
	background-color: #FFFEFD;
}

@media(max-width: 768px){
	.header-wrapper{
		padding-left: 45px;
		padding-right: 45px;
	}
}

@media(max-width: 570px){

	.header-burger{
		cursor: pointer;
	}
	.header-burger__item{
		margin-bottom: 5px;
	}

	.header{
		background-color: #FAC663;
		position: relative;
	}

	.header-wrapper{
		padding-left: 15px;
		align-items: baseline;
	}

	.header-wrapper--closed{
		height: 518px;
		align-items: inherit;
		flex-direction: column;
		justify-content: inherit;
		background-color: inherit;
	}

	.header__logo{
		margin-bottom: 50px;
		padding-top: 12px;
	}

	.header-burger{
		position: absolute;
		top: 25px;
		right: 25px;

		.header-burger__item{
			width: 22px;
			height: 2px;
			border-radius: 2px;
			display: block;
			background-color: #1A212F; 
		}
	}

	.header-burger--closed{
		display: block;
		top: 30px;
		.header-burger__item--active:nth-child(2){
			display: none;
		}

		.header-burger__item--active:nth-child(1){
			transform: rotate(40deg);
			transition: all 0.2s ease-out;
		}

		.header-burger__item--active:nth-child(3){
			transform: rotate(-40deg);
			margin: -7px 0 0 0;
			transition: all 0.2s ease-out;
		}

	}
}