.button{
	position: relative;
	white-space: nowrap;
	background: #FF352B;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #F2F2F2;
	max-width: 304px;
	width: 100%;
	padding-top: 16px;
	padding-bottom: 15px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	&:before{
		content: "";
		width: 304px;
		height: 60px;
		position: absolute;
		border: 2px solid #F2F2F2;
		z-index: -1;
		left: 10px;
		top: 10px;			
	}
}

.form__send .button{
	outline: none;
	border: none;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	padding-left: 31px;
	padding-right: 31px;
	padding-top: 13px;
	padding-bottom: 13px;
	max-width: 250px;
	margin-top: 32px;
	margin-bottom: 21px;
	&:before{
		content: none;
	}
}

.button--park{
	background: #FED100;
	width: 250px;
	height: 50px;
	padding: 0px;
	border: none;
	font-weight: 500;
	font-size: 20px;
	display: flex;
	line-height: 24px;
	color: #333333;
	font-family: Montserrat;
	justify-content: center;
	align-items: center;
	    margin-top: 40px;
	    margin-bottom: 130px;
	&:before{
		content: none;
	}
}

.cost__button{
	display: none;
}

.button--adaptive{
	display: none;
}