.capture{
	font-weight: 600;
font-size: 30px;
line-height: 37px;
margin-top: 95px;
text-align: center;
}

.comment .capture{
	margin-top: 100px;
	margin-bottom: 60px;
}

.order{
	h3{
		text-align: left;
		margin-bottom: 10px;
	}
}