.comment{
	background: #FED100;
	display: flex;
}

.comment__wrapper{
	max-width: 1304px + 40px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0 auto;
}

.comment__inner{
	display: flex;
	justify-content: space-between;
}

.comment__item{
	max-width: 420px;
	width: 100%;
	margin-bottom: 59px;
	h4{
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
	}

	div{
		margin-bottom: 19px;
		display: flex;
		align-items: center;
		line-height: 21px;
		img{
			margin-left: 9px;
		}
	}

	p{
		line-height: 21px;
		color: #333333;
	}

	button{
		font-size: 16px;
		line-height: 21px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		background-color: inherit;
		border: none;
		padding: 0px;
		color: #333333;
		text-decoration: underline;
		margin-top: 18px;
		cursor: pointer;
		outline: none;
	}
}

.comment__show{
	display: flex;
	justify-content: center;
	max-width: 250px;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #333333;
background-color: inherit;
align-items: center;
border: 1px solid #333333;
margin-bottom: 94px;
cursor: pointer;
outline: none;
}

