.header{
	background-color: #FED100;
	position: relative;
	overflow-x: hidden;
	
}

.header__top{
	max-width: 1312+40px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 47px;
	z-index: 10;
	position: relative;
	.header__call{
		text-decoration: underline;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		&:hover{
			text-decoration: none;
		}
	}	
}

.header__nav{
	display: flex;
	ul{
		display: flex;
	}
	a{
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		margin-left: 46px;
		&:hover{
			text-decoration: underline;
		}
	}
}

.header__logo{
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	text-transform: uppercase;
}

.header__wrapper{
	max-width: 1312+40px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	display: flex;
}

.header__left{
	max-width: 480px;
	margin-top: 80px;
	h3{
		font-style: normal;
		font-weight: bold;
		font-size: 70px;
	}

	h4{
		font-weight: 600;
		font-size: 30px;
		line-height: 37px;
		margin-bottom: 40px;
	}
}

.header__feature{
	display: flex;
	max-width: 546px;
	width: 100%;
	justify-content: space-between;
	margin-top: 76px;
	padding-bottom: 84px;
	div{
		display: flex;
		align-items: center;
		max-width: 187px;
		span{
			font-size: 16px;
			    margin: 0 0 0 8px;
			line-height: 21px;		
		}
	}
}

.header__right{
	position: relative;
	width: 100%;
	display: flex;
	img{
		position: absolute;
		z-index: 100;
	}
}

.header__right img:nth-child(1){
	bottom: 0px;
	z-index: 1;
	left: 108px;

}

.header__right img:nth-child(2){
    right: -91px;
    z-index: 0;
    top: 79px;
}

.header__right .button{
	display: none;
}

.header__burger{
	display: none;
}