.slick__item{
	display: flex;
	position: relative;
	margin: 120px 0 0 0;
	outline: none;
	img{
		position: absolute;
		right: 83px;
		    top: -60px;
	}
}

.slick-arrow{
	background-color: inherit;
	border: none;
	outline: none;
	top: 0px;
	position: absolute;
	top: 50%;
	cursor: pointer;
	z-index: 100;
}

.slick-next{
	right: 0px;
}

.slick-prev{
	left: -78px;
}

.slick-next{
	right: -78px;
}