table{
	max-width: 421px;
	width: 100%;
	border: 1px solid rgba(235,235,235,1);
	margin: 0 auto;
	td{
		text-align: center;
	}
}

.table--active{
	border: 1px solid rgba(254,209,0,1);
}

.table__capture td{
	font-weight: 600;
font-size: 24px;
line-height: 29px;
margin-top: 84px;
margin-bottom: 60px;
display: block;
}

.table__title td{
	display: block;
	font-size: 16px;
line-height: 21px;
margin-bottom: 25px;
text-align: center;
}

.table__cost td{
	display: block;
	text-align: center;
	font-weight: 600;
font-size: 30px;
line-height: 37px;
margin-top: 60px-25px;
margin-bottom: 52px;
}

.table__order{

	a{
		background: #FED100;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		padding-left: 77px;
		padding-right: 79px;
		padding-top: 14px;
		display: block;
		padding-bottom: 12px;
		max-width: 250px;
		margin: 0 auto;
		margin-bottom: 66px;
		border: 1px solid #FED100;
		&:hover{
			background-color: inherit;
			transition: all 0.2s ease-out;
		}
		&:not(hover){
			transition: all 0.2s ease-out;
		}
	}
}