.work{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1106+40px;
	width: 100%;
	margin: 0 auto;
}

.work__wrapper{
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px;
}

.work__item{
	width: 50%;
	display: flex;
	margin-bottom: 71px;
	h5{
		font-weight: 300;
		font-size: 50px;
		line-height: 61px;
		margin-right: 42px;
		text-shadow: 2px 0px 2px rgba(254, 209, 0, 1);
		min-width: 66px;
	}

	div{
		font-size: 16px;
		line-height: 21px;
		padding-right: 40px;
		h4{
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
			color: #333333;
			margin-bottom: 15px;
		}
	}
}