body{
    font-weight: 400;
    color: #3b3b3b;
    font-family: "Roboto";
    transition: all 0.2s ease-out;
}


img{
    box-sizing: content-box;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

picture{
    display: flex;
}

li{
    list-style-type: none;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.visually-hidden{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

.bx-wrapper{
    background: none;
    box-shadow: none;
    border: none;
}

.bx-wrapper .bx-pager.bx-default-pager a{
    background-color: #E3A24A;
    opacity: 0.2;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus{
    background-color: #E3A24A;
    opacity: 1;
}


.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
    padding: 0 30px;
    border-right: 1px solid #fff;
    user-select: none;
}

.time-section:last-child {
    border: none;
}

.count {
    font-size: 50px;
    font-family: "Roboto";
}

.units {
    font-size: 15px;
}

#timer{
    display: flex;
    justify-content: center;
        margin-bottom: 100px;
}