body{
	font-family: "Harmonia Sans Pro Cyr",sans-serif;
	overflow-x: hidden;
	color: #28313b;
}

.main{
	background-color: #f4f6f8;
}

img{
	box-sizing: content-box;
	max-width: 100%;
	height: auto;
}

picture{
	display: flex;
}

a{
	text-decoration: none;
}

li{
	list-style-type: none;
}

html{
	box-sizing: border-box;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}


.visually-hidden{
	position: absolute;

	overflow: hidden;
	clip: rect(0 0 0 0);

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;
}

@font-face{
	font-family: "Harmonia Sans Pro Cyr";
	font-weight: 400;
	src: url("../fonts/HarmoniaSansProCyr-Regular.otf") format("opentype");
	font-style: normal;
}
