/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #2d2829; }

img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 100%;
  height: auto; }

picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.header {
  background: #515f67 url(../img/bg-header.jpg) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 99vw;
  overflow: hidden;
  -webkit-box-shadow: inset 1px -4px 20px rgba(0, 0, 0, 0.3);
          box-shadow: inset 1px -4px 20px rgba(0, 0, 0, 0.3); }

.header__link {
  position: relative; }

.header__link-item {
  width: 40px;
  height: 40px;
  background-color: #515f67;
  border: 1px solid white;
  bottom: 8%;
  right: 2%;
  position: fixed;
  display: block;
  z-index: 99999;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px; }

.header__link-item span {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  width: 20px;
  height: 20px;
  color: #ffffff;
  font-size: 40px;
  top: 11px;
  right: 13px; }

.header__link-item:hover span {
  color: #4bcaff; }

.header__inner {
  min-height: 150px;
  background-color: #353f46;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  z-index: 1000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3); }

.header__inner--fixed {
  position: fixed;
  width: 100%;
  z-index: 10000;
  min-height: 60px; }

.header__inner--fixed .header__wrapper {
  padding: 18px 0 0px 0; }

.header__wrapper,
.header__title {
  width: 61.5%;
  margin: 0 auto; }

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0 0 0; }

.header__logo h1 {
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase; }
  .header__logo h1:hover {
    color: #6fa2cc; }

.header__logo-color {
  color: #6fa2cc; }

.header__title-text {
  text-transform: uppercase;
  font-size: 42px;
  line-height: 75px;
  text-align: center;
  color: #ffffff;
  opacity: 0.8; }

.header__title span {
  background-color: rgba(53, 63, 70, 0.6);
  padding: 0 15px; }

.header__title {
  position: relative;
  padding: 360px 0 250px 0;
  -webkit-animation: fadeIn 4.0s;
          animation: fadeIn 4.0s; }

@media (max-width: 960px) {
  .header__title {
    padding: 130px 0 130px 0; }
  .header__title-text {
    font-size: 21px;
    line-height: 37px; }
  .header__inner--fixed .header__wrapper {
    padding: 18px 2% 0px 2%; }
  .header__inner {
    min-height: 60px; }
  .header__wrapper {
    width: 100%;
    padding: 18px 2% 0px 2%; }
  .header__logo {
    padding: 0 0 0 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 720px) {
  .header__inner--fixed {
    min-height: 32px; }
  .header__inner--fixed .header__wrapper {
    padding: 3px 0% 0px 0%; } }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navigation__list-item {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 10px 16px 10px 16px; }
  .navigation__list-item:hover {
    color: #4bcaff; }

.navigation__list-item--mod a {
  border: 2px solid #4bcaff;
  color: #4bcaff; }

.navigation__list {
  margin: 0px 0 0 50px; }

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#menu-checkbox {
  display: none; }

@media (max-width: 720px) {
  .toggle-button {
    cursor: pointer;
    text-align: center;
    display: block;
    color: #ffffff; }
    .toggle-button:after {
      content: attr(data-open); }
  #menu-checkbox {
    display: none; }
  .navigation__menu {
    display: none; }
  #menu-checkbox:checked + nav .menu-checkbox__burger {
    background-color: #4bcaff; }
  #menu-checkbox:checked + nav .navigation__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
  .navigation__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center; }
  .header__wrapper {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 18px 0% 0px 0%; }
  .toggle-button {
    right: 2%;
    top: -25px;
    position: absolute; }
  .navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
  .navigation__list {
    margin: 0px; }
  .navigation__list-item--mod {
    margin: 0px;
    padding: 0px;
    border: none;
    color: #ffffff; }
  .navigation__list-item {
    width: 100%;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 17px 70px 0px 0px; }
  .menu-checkbox__burger {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #ffffff;
    margin: 5px 0 0 0; } }

.services {
  background-color: #4bcaff;
  overflow: hidden; }

.services__wrapper {
  width: 61.5%;
  margin: 0 auto;
  position: relative;
  z-index: 1000; }

.services__title {
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 38px;
  padding: 80px 0 0 0;
  color: #ffffff;
  font-weight: 300; }
  .services__title:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 45px;
    background-color: #ffffff;
    bottom: -10px;
    left: 0px; }

.services__items-item h3 {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  margin: 24px 0 18px 0;
  text-transform: uppercase; }

.services__items-item p {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 80px; }

.services__items-item {
  width: 23.1%; }

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media (max-width: 960px) {
  .services__wrapper {
    width: 100%;
    padding-right: 2%;
    padding-left: 2%; } }

@media (max-width: 720px) {
  .services__title {
    text-align: center;
    padding: 60px 0 0 0;
    margin-bottom: 60px; }
    .services__title:before {
      content: none; } }

.portfolio__wrapper {
  width: 61.5%;
  margin: 0 auto;
  overflow: hidden; }

.picture {
  margin-bottom: 80px; }

.portfolio__header-title h3 {
  font-size: 30px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: #626f76;
  position: relative; }
  .portfolio__header-title h3:after {
    content: "";
    position: absolute;
    width: 45px;
    bottom: -10px;
    left: 2px;
    height: 2px;
    background-color: #626f76; }

.portfolio__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0 80px 0; }

.portfolio__header-nav a {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #626f76;
  font-weight: bold;
  cursor: pointer; }
  .portfolio__header-nav a:hover {
    color: #4bcaff; }

.portfolio__header-nav .mod {
  color: #4bcaff;
  border: 2px solid #4bcaff;
  padding: 5px 16px 5px 16px; }

.portfolio__header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.portfolio__header-nav li {
  margin: 0px 0px 0px 45px; }

@media (max-width: 720px) {
  .portfolio__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 80px 0 50px 0; }
  .portfolio__header-nav li {
    margin: 30px 30px 0px 0px; }
  .portfolio__header-nav ul {
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

.picture__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.picture__column--1 {
  margin-bottom: 30px; }

.picture__column-item {
  position: relative;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  max-width: 23.1%;
  max-height: 270px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  overflow: hidden; }

.picture__column-item img {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  position: relative; }

.picture__column-item img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

@media (max-width: 960px) {
  .portfolio__wrapper {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%; } }

.default {
  background-color: #515f67;
  padding-top: 80px; }

.default__wrapper {
  width: 61.5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 80px;
  overflow: hidden; }

.default__title {
  width: 470px; }

.default__title h3 {
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
  font-weight: 300; }
  .default__title h3:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 45px;
    background-color: #ffffff;
    bottom: -10px;
    left: -1px; }

.default__title p {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  padding: 0 1px 0 0px; }

.default__title:first-child p {
  margin-bottom: 20px; }

.default__title a {
  margin-bottom: 35px;
  color: #353f46;
  border: 2px solid #353f46;
  padding: 10px 40px 10px 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase; }
  .default__title a:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff; }

.iframe {
  width: 100%;
  height: 100%; }

.default__video {
  width: 47.9%;
  max-height: 100%; }

.iframe {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .iframe:hover {
    -webkit-box-shadow: 0 0 10px black;
            box-shadow: 0 0 10px black; }

@media (max-width: 960px) {
  .default__wrapper {
    width: 100%;
    padding-right: 2%;
    padding-left: 2%; } }

@media (max-width: 720px) {
  .default__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .default__title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-right: 2%;
    padding-left: 2%;
    width: 100%; }
  .default__video {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .default__video {
    width: 100%;
    padding-right: 2%;
    padding-left: 2%; }
  .iframe {
    height: 250px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .default__title a {
    display: none; }
  .default__title h3 {
    text-align: center; }
    .default__title h3:after {
      content: none; }
  .default {
    padding-top: 40px; } }

.twitter {
  background-color: #4bcaff;
  padding-top: 80px;
  padding-bottom: 80px; }

.twitter__wrapper {
  width: 61.5%;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  .twitter__wrapper:before {
    content: "";
    position: absolute;
    width: 28px;
    height: 22px;
    background-image: url("../img/twiiter-icon.png");
    right: 0px;
    top: 0px; }

.twitter__wrapper h3 {
  color: #ffffff;
  font-size: 30px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 50px;
  text-transform: uppercase;
  position: relative; }
  .twitter__wrapper h3:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 45px;
    background-color: #ffffff;
    bottom: -10px;
    left: -1px; }

.twitter__wrapper p {
  font-size: 28px;
  line-height: 50px;
  color: #ffffff;
  font-weight: 300; }

.twitter__wrapper span {
  font-weight: 400; }

@media (max-width: 960px) {
  .twitter__wrapper {
    width: 100%;
    padding-right: 2%;
    padding-left: 2%; }
  .twitter__wrapper h3 {
    text-align: center; }
    .twitter__wrapper h3:after {
      content: none; } }

.john {
  background: #515f67 url(../img/bg-photo.jpg) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.john__wrapper {
  width: 61.5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden; }

.john__wrapper h3 {
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 100px;
  text-transform: uppercase;
  margin-bottom: 50px;
  position: relative; }
  .john__wrapper h3:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 45px;
    background-color: #ffffff;
    bottom: -10px;
    left: -1px; }

.john__wrapper p {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff; }

.john__inner {
  width: 48.71%; }

.john__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.john__inner--1 p:nth-child(1) {
  margin-bottom: 34px; }

.john__inner p:nth-child(2) {
  margin-bottom: 176px; }

.john__list-item {
  border: 2px solid #ffffff;
  padding: 10px 30px 30px 26px;
  position: relative; }

.john__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 55px 0 0 0; }

.john__list li {
  margin: 0 20px 0px 0px; }

.john__list-item--tw:hover {
  background-color: #1da1f2;
  border-color: #1da1f2; }

.john__list-item--google:hover {
  background-color: #db4437;
  border-color: #db4437; }

.john__list-item--ball:hover {
  background-color: #FF8C00;
  border-color: #FF8C00; }

.john__list-item--coffee:hover {
  border-color: #6F4E37;
  background-color: #6F4E37; }

.john__list-item:hover {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black; }

.john__list-item--tw:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 22px;
  left: 17px;
  top: 17px;
  background-image: url("../img/twiiter-icon.png"); }

.john__list-item--google:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 29px;
  left: 17px;
  top: 15px;
  background-image: url("../img/g-icon.png"); }

.john__list-item--ball:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 27px;
  left: 15px;
  top: 15px;
  background-image: url("../img/ball-icon.png"); }

.john__list-item--coffee:before {
  content: "";
  position: absolute;
  width: 31px;
  height: 24px;
  left: 13px;
  top: 17px;
  background-image: url("../img/cup-icon.png"); }

@media (max-width: 960px) {
  .john__wrapper {
    width: 100%;
    padding-right: 2%;
    padding-left: 2%; }
  .john__inner {
    margin-right: 2%; }
  .john__wrapper h3 {
    text-align: center; }
    .john__wrapper h3:after {
      content: none; }
  .john__inner p:nth-child(2) {
    margin-bottom: 120px; } }

@media (max-width: 960px) {
  .john__wrapper h3 {
    margin-top: 50px; }
  .john__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .john__inner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .john__inner p:nth-child(2) {
    margin-bottom: 20px; }
  .john__list {
    margin: 40px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .john__list li {
    margin: 0px 20px 70px 0px; } }

.testimonials {
  background-color: #ffffff; }

.testimonials__wrapper {
  width: 61.5%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px; }
  .testimonials__wrapper:before {
    content: "";
    position: absolute;
    background-image: url("../img/quote.png");
    width: 32px;
    height: 26px;
    right: 0px;
    top: 0px; }

.testimonials__wrapper h3 {
  font-size: 30px;
  line-height: 24px;
  margin-top: 80px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: lighter;
  position: relative;
  color: #626f76; }
  .testimonials__wrapper h3:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 45px;
    background-color: #626f76;
    bottom: -10px;
    left: 2px; }

.testimonials__wrapper q {
  font-size: 28px;
  line-height: 50px;
  font-weight: lighter;
  color: #626f76; }

.testimonials__wrapper a {
  font-size: 14px;
  line-height: 50px;
  color: #4bcaff;
  font-weight: bold; }

@media (max-width: 960px) {
  .testimonials__wrapper {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%; }
  .testimonials__wrapper h3 {
    text-align: center; }
    .testimonials__wrapper h3:after {
      content: none; } }

.contact {
  background: #ffffff url(../img/bg-layer.jpg) no-repeat center center;
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.contact__wrapper {
  width: 61.5%;
  margin: 0 auto;
  padding: 80px 0 0 0; }

.contact__wrapper h3 {
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  font-weight: lighter;
  margin-bottom: 30px;
  position: relative;
  text-transform: uppercase; }
  .contact__wrapper h3:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 45px;
    background-color: #ffffff;
    bottom: -10px;
    left: 2px; }

@media (max-width: 960px) {
  .contact__wrapper h3 {
    text-align: center; }
    .contact__wrapper h3:after {
      content: none; } }

.form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

label {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase; }

.form__input-textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: inherit; }

.form__column--1 {
  width: 40.2%; }

.form__column--2 {
  width: 48.75%;
  padding: 15px 15px 0 0; }

.form__column--2 p:nth-child(1) {
  margin-bottom: 40px; }

input {
  width: 100%;
  background-color: inherit;
  border: 2px solid #ffffff;
  padding: 12px 0 12px 10px;
  color: #ffffff;
  font-size: 28px; }

.form__input-text {
  margin: 0px 0px 35px 0; }

.form__column--2 p {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff; }

textarea {
  border: 2px solid #ffffff;
  padding: 0px 0 0px 10px;
  color: #ffffff;
  font-size: 28px;
  resize: none;
  background-color: inherit;
  height: 216px;
  margin-bottom: 40px; }

.form__submit {
  background-color: #4bcaff;
  border: none;
  text-transform: uppercase;
  text-align: center;
  width: 370px;
  height: 60px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Segoe UI";
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 80px;
  cursor: pointer; }

@media (max-width: 960px) {
  .contact__wrapper {
    width: 100%;
    padding: 80px 2% 80px 2%; }
  .form__submit {
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 0px; } }

@media (max-width: 960px) {
  .form__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .form__column--2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%; }
  .form__column--1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%; }
  .form__column--2 p:nth-child(1) {
    margin-bottom: 20px; }
  .form__column--2 p {
    text-align: justify; }
  .form__input-text {
    margin: 20px 0px 35px 0; } }

.footer {
  background-color: #353f47; }

.footer__wrapper {
  width: 61.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 80px;
  padding-top: 80px; }

.footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__nav a {
  color: #4a575f;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative; }
  .footer__nav a:after {
    content: "|";
    right: -19px;
    bottom: -3px;
    position: absolute;
    font-weight: bold;
    font-family: "Segoe UI";
    color: #4a575f; }

.footer__nav .mod:after {
  content: none; }

.footer__nav li {
  margin: 0 30px 0px 0px; }

.footer__copyright p {
  font-size: 12px;
  line-height: 24px;
  color: #4a575f; }

@media (max-width: 960px) {
  .footer__wrapper {
    width: 100%;
    padding-right: 2%;
    padding-left: 2%; } }
