.clints{
	background: #131110 url("../img/clints-bg.jpg") no-repeat center center fixed;
	background-size: cover;
}

.clints__capture{
	text-align: center;
	font-family: Raleway;
	font-size: 30px;
	font-weight: 700;
	color: #ffffff;
	margin-top: 94px;
	margin-bottom: 50px;
	span{
		color: #ff0036;
	}
}

.clints__wrapper{
	display: flex;
	flex-direction: column;
}

.clints__title{
	text-align: center;
	color: #a4a4a4;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	margin-bottom: 100px;
	span{
		color: #ff0036;
	}
}

.clints__column{
	display: flex;
	max-width: 570px;
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
	flex-direction: column;
}

.clints__inner{
	flex-wrap: wrap;
	justify-content: space-between;
	display: flex;
	align-items: flex-start;
}

.clints__column--right{
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

}

.clints__column-item{
	display: flex;
    align-items: center;
    justify-content: center;
	margin-bottom: 39px;
	max-width: 270px;
	width: 100%;
	height: 116px;
	background-color: #ffffff;
	box-shadow: inset 0 0 68px rgba(0, 0, 0, 0.75);
	span{
		display: flex;
		justify-content: center;
	}
}

.clints__column--left{
	justify-content: flex-start;

}

.clints__column-item{

	span{

		p{
			color: #292626;
			font-size: 24px;
			font-weight: 400;
			line-height: 29.6px;
			margin: 0 0px 0px 9px;
		}
	}
}

.clints__column-capture{
	color: #ffffff;
font-family: Raleway;
font-size: 20px;
font-weight: 500;
text-transform: uppercase;
text-align: center;
margin-bottom: 49px;
}

.clints__column-title{
	text-align: center;
	color: #a4a4a4;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 47px;
}

.clints__column-client__item p{
	color: #ff0036;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 17px;
	margin-bottom: 27px;
	text-align: center;
}

.clints__column-client{
	margin: 0 auto;
}

.clints__column-client__item{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.clints__column-client span{
	cursor: pointer;
	display: flex;
	width: 8px;
	height: 8px;
	background-color: #e0e0e0;
	&:hover{
		background-color: #ff0036;
	}
	&:nth-child(2){
		background-color: #ff0036;
	}
}

.clints__column-client__inner{
	display: flex;
	justify-content: space-between;
	width: 35px;
	margin: 0 auto;
	margin-bottom: 100px;
}

.clints__column-client__item img{
	    clip-path: polygon(30% 0%, 70% 0%, 100% 50%, 100% 50%, 70% 100%, 30% 100%, 0 50%, 0 50%);
}

 @media(max-width: 586px){
	.clints__column--right{
		justify-content: center;
	}
 }