.icon{
	position: absolute;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: #262626;
	justify-content: space-between;
	display: none;
	.icon__inner{
		max-width: 155px;
		width: 100%;
		justify-content: space-between;
		display: flex;
		margin: 0 auto;
	}
}

.icon-item{
	position: relative;
	display: block;
	transition: all .1s ease-out;
	&:hover{
		opacity: 0.8;
	}
}

.icon-item--facebook:before{
	content: "";
	position: absolute;
	width: 10px;
	height: 19px;
	background-image: url("../img/Facebook_Icon.svg");
    top: 11px;
    left: 18px;
}

.icon-item--twitter:before{
	content: "";
	position: absolute;
	width: 18px;
	height: 15px;
	background-image: url("../img/Twitter_Icon.svg");
    top: 13px;
    left: 14px;
    background-repeat: no-repeat;
}

.icon-item--google:before{
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background-image: url("../img/G+_Icon.svg");
    top: 14px;
    left: 15px;
    background-repeat: no-repeat;
}

.team-persons__item--active .icon{
	display: flex;
}

.team-persons__item:hover .icon{
	display: flex;
}