.panel{
	margin-bottom: 9px;
}

.panel__inner{
	background-color: #f7f7f7;
	height: 45px;
	display: flex;
    align-items: center;
    border: 1px solid #e7e7e7;
    cursor: pointer;

	.panel__capture{
		color: #262626;
		font-size: 20px;
		font-weight: 500;
		font-family: Raleway;
		margin-left: 31px;
	}
}

.panel:hover .panel__capture{
	color: #ff0036;
}

.panel__plus{
	height: 100%;
	max-width: 60px;
	width: 100%;
	border-right: 1px solid #e7e7e7;
	background: url("../img/plus.svg") no-repeat center;
}

.panel__title{
	border: 1px solid #e7e7e7;
	border-top: none;
	color: #505050;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	font-family: Lato;
	padding-left: 16px;
	padding-top: 16px;
	padding-bottom: 13px;
	padding-right: 16px;
}


.panel__minus{
	background: url("../img/minus.svg") no-repeat center;
}