.sell-capture{
	font-family: Raleway;
	font-size: 30px;
	font-weight: 700;
	color: #262626;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
	span{
		color: #262626;
	}
}

.sell-title{
	color: #505050;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	text-align: center;
	margin-bottom: 100px;
	span{
		color: #ff0036;
	}
}

.sell-item{
	max-width: 270px;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

.sell-item__capture p{
	color: #ffffff;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.65px;
	text-transform: uppercase;
	text-align: center;
}

.sell-item__capture{
	height: 48px;
	width: 100%;
	background-color: #262626;
	align-items: center;
	display: flex;
    justify-content: center;
}

.sell-item__cost{
	height: 87px;
	background-color: #f2f2f2;
	display: flex;
	align-items: center;
	justify-content: center;
	.sell-item__cost-title{
		color: #262626;
		font-family: "Lato - Black";
		font-size: 50px;
		font-weight: 400;
		line-height: 2.75px;
		font-weight: bold;
	}

	.sell-item__cost-year{
		font-weight: bold;
		color: #262626;
		font-family: Lato;
		font-size: 16px;
		line-height: 2.75px;
		margin: 0 0 0 10px;
	}

}

.sell-item__cost--inner{
	margin: 15px 0 0 0;
	display: flex;
	align-items: baseline;
}

.sell-item__stat{
	height: 51px;
	border-bottom: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	p{
		color: #262626;
		font-family: Lato;
		font-size: 16px;
		font-weight: 400;
		line-height: 52px;
		text-align: center;
	}
}

.sell-item__order{
	border-bottom: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	height: 89px;
	display: flex;
    align-items: center;
	a{
		max-width: 228px;
		width: 100%;
		height: 38px;
		color: #ffffff;
		font-family: Raleway;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.65px;
		text-transform: uppercase;
		background-color: #262626;
		display: flex;
		justify-content: center;
		align-item: center;
		margin: 0 auto;
		align-items: center;
	}
}

.sell__inner{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.sell-item__order .sell-item__order-link--active{
	background-color: #ff0036;
	color: #ffffff;
}

.sell-item__cost--active{
	background-color: #ff0036;
}

.sell-item__cost--active .sell-item__cost-title{
	color: #ffffff;
}

.sell-item__cost--active .sell-item__cost-year{
	color: #ffffff;
}

.sell-item:hover .sell-item__cost-title{
	color: #ffffff;
}

.sell-item:hover .sell-item__cost-year{
	color: #ffffff;
}

.sell-item:hover .sell-item__order a{
	background-color: #ff0036;
	color: #ffffff;
	transition: all .3s;
}

.sell-item:hover .sell-item__cost{
	background-color: #ff0036;
	transition: all .3s;
}

@media(max-width: 920px){
	.sell__inner{
		justify-content: space-around;
	}
}