.skill-item__title{
color: #505050;
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 18px;
}

.skill-item__capture{
	color: #262626;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 24px;
	text-align: center;
}

.skill-item__svg{
	position: relative;
	z-index: 1;
	width: 145px;
	height: 145px;
        background: linear-gradient(to right, #fd0000, #ffebeb);
	border-radius: 50%;
	display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.skill-item__svg-percent{
	text-align: center;
	color: #ff0036;
	font-family: Lato;
	font-size: 40px;
	font-weight: 300;
	line-height: 94.88px;
	span{
		color: #000000;
	}
}

.skill-item{
	max-width: 145px;
	width: 100%;
	margin-bottom: 40px;
}

.skill__inner{
	display: flex;
	justify-content: space-between;
	max-width: 745px;
	width: 100%;
	margin: 0 auto;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

.skill-capture{
	font-family: Raleway;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	color: #262626;
	span{
		color: #ff0036;
	}
	margin-bottom: 49px;
}

.skill-title{
	text-align: center;
	color: #505050;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 100px;
	span{
		color: #ff0036;
	}
}

.skill-item__svg-wrapper{
	    background: #ffffff;
    color: white;
    border-radius: 50%;
    width: 95%;
    height: 95%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}