.catalog{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

	.arrivals__items{
		margin-top: 120px;
    	max-width: 870px;
    	width: 100%;
	}
	
	.arrivals__items-item{
		margin-bottom: 31px;
	}
}

.main--catalog{
	padding: 0 0 122px 0;
}