.footer{
    display: flex;

    height: 250px;

    background-color: #fff;
}

.footer__wrapper{
    display: flex;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__nav{
    display: flex;

    width: 100%;
    max-width: 490px;

    justify-content: space-between;
}

.footer__logo{
    p{
        font-size: 14px;
        font-weight: 700;

        margin-top: 21px;

        color: #28313b;
    }
}

.footer__nav li{
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;

    margin-bottom: 0;

    list-style: disc;

    a{
        color: #28313b;
        &:hover{
            color: #ff5912;
        }
    }
}

.footer__pay{
    h4{
        font-size: 16px;
        font-weight: 700;

        margin-bottom: 19px;

        color: #ff5912;
    }
}
