.navigation{
	border-bottom: 1px solid #e6e8eb;
}

.navigation__column--left{
	max-width: 648px;
	width: 100%;
	display: flex;
	height: 120px;
	align-items: center;
	justify-content: space-between;
}

.navigation__wrapper{
		max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navigation__column-logo{
	display: flex;
	align-items: center;
}

.navigation__column-list{
	max-width: 447px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	display: inline-flex;
	a{
		font-size: 16px;
		font-weight: 400;
		color: #4c5a65;

		&:hover{
			color: #ff7013;
		}
	}

	.active{
		color: #ff7013;
	}
}

.navigation__column--right{
	display: flex;
	align-items: center;

	ul{
		display: inline-flex;
		align-items: center;

	a{
				position: relative;
			}

			.active:before{
				font-size: 10px;
				font-weight: 300;
				line-height: 30px;
				position: absolute;
				width: 18px;
				height: 18px;
				background-color: #34404b;
				border-radius: 50%;
				content: "";
				top: -22px;
				right: 3px;
			}

			.active:after{
				color: #ffffff;
				font-family: "Harmonia Sans Pro Cyr";
				font-size: 10px;
				font-weight: 300;
				line-height: 30px;
				content: "5";
				top: -28px;
				right: 10px;
				position: absolute;	
			}

		li{
			margin: 0 7px 0 22px;
		}
	}
}

.navigation__burger{
	display: flex;
	flex-direction: column;
	cursor: pointer;
	display: none;
	span{
		display: block;
		margin-bottom: 5px;
		height: 2px;
		width: 20px;
		background-color: #efeff1;
	}

	&:hover span{
		background-color: #d5d5d8;
	}
}

@media(max-width: 920px){
	.header__wrapper{
		position: relative;
	}

	.navigation__column-list{
		display: none;
		position: absolute;
		flex-direction: column;
		max-width: 100%;
		bottom: 0px;
		background-color: #ffffff;
		bottom: -177px;
		left: 0px;
		opacity: 0;
		transition: all 0.5s;
		li{
			text-align: center;
			width: 100%;
		}
	}

	.navigation__column-list a {
		display: block;
		width: 100%;
		padding: 10px 0px 10px 0;
	}

	.navigation__burger{
    top: 113px;
    position: absolute;
    display: block;
    right: 145px;
		span{
			background-color: #34404b;
		}
	}

	.navigation__column-list--active{
		display: block;
		opacity: 1;
		z-index: 99;
	}

}
