.sale{
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding-right: 15px;
		padding-left: 15px;
}

.sale__capture{
		font-size: 36px;
		font-weight: 700;

		margin-bottom: 30px;

		text-align: center;
		text-transform: uppercase;

		color: #34404b;

		span{
				color: #ff5912;
		}
}

.sale__title{
		font-size: 16px;
		font-weight: 400;
		line-height: 29.99px;

		margin-bottom: 80px;

		text-align: center;
}

.sale__item{
		position: relative;

		display: flex;

		width: 100%;
		max-width: 370px;
		height: 160px;
		margin-bottom: 15px;

		transition: all .2s ease-out;

		background-color: #fff;

		align-items: flex-start;
		justify-content: center;
		&:hover{
				transition: all .2s ease-out;
				transform: translateY(-6px);

				box-shadow: 0 7px 13px 2px rgba(41, 52, 73, .5);
		}

		&:not(hover){
				transition: all .2s ease-out;
		}
}

.sale__item-img{
		display: flex;

		width: 100%;
		max-width: 143px;
		height: 100%;

		align-items: center;
		justify-content: center;
}

.sale__item-inner{
		display: flex;

		padding-bottom: 119px;

		justify-content: space-between;
		flex-wrap: wrap;
}

.sale__item-title{
		display: flex;
		flex-direction: column;

		width: 100%;
		max-width: 229px;

		a{
				color: #34404b;
		}

		h4{
				font-size: 18px;
				font-weight: 700;

				margin-top: 47px;
				margin-bottom: 30px;

				text-align: center;

				color: #34404b;;
		}

		div{
				display: inline-flex;

				width: 100%;

				justify-content: space-around;

				p{
						font-size: 16px;
						font-weight: 700;

						color: #ff5912;
				}
		}
}

.sale__item--hover{
		position: absolute;

		display: none;

		width: 100%;
		height: 100%;

		.sale__item-title > a{
				font-size: 16px;
				font-weight: 400;

				text-align: center;

				color: #ff5912;
		}
}

.sale__item-title span a:last-child{
		position: relative;

		text-align: center;

		color: #ff5912;
		&:before{
				position: absolute;
				top: -6px;
				left: -29px;

				width: 22px;
				height: 21px;

				content: '';

				background-image: url('../img/Add_To_Cart_Icon.png');
				background-repeat: no-repeat;
		}
}

.sale__item-title span{
		display: flex;

		justify-content: center;
}

.sale__item:hover .sale__item--hover{
		position: absolute;

		display: flex;

		background-color: #fff;
}

.sale__contact{
		display: flex;

		width: 100%;
		max-width: 1170px;
		margin-top: 104px;

		background-color: #fff;

		flex-wrap: wrap;
		justify-content: space-between;
}

.sale__contact-column{
		display: flex;

		height: 123px;

		align-items: center;
}


.sale__contact-column--left{
		h4{
				font-size: 18px;
				font-weight: 700;

				margin-right: 23px;
				margin-left: 55px;

				text-transform: uppercase;

				color: #ff5912;
		}

		p{
				font-size: 14px;
				font-style: italic;

				color: #34404b;
		}
}

.sale__contact-column--right{
		position: relative;

		display: flex;

		width: 100%;
		max-width: 457px;

		justify-content: space-around;

		label{
				position: absolute;
				left: 25px;

				width: 18px;
				height: 11px;

				background-image: url('../img/Mail-icon.png');
				background-repeat: no-repeat;
		}

		input{
				font-size: 14px;
				font-style: italic;

				position: relative;

				max-width: 286px;
				padding: 0 0 0 10px;

				color: #7c8791;
				border: none;
		}

		button{
				font-size: 14px;
				font-weight: 400;

				width: 100px;
				height: 50px;

				cursor: pointer;

				color: #fff;
				border: none;
				outline: none;
				background-color: #ff5912;
		}
}

@media(max-width: 1160px){
	.sale__item-inner{
		justify-content: space-around;
	}
}

@media(max-width: 1054px){
	.sale__contact-column--left{
		width: 100%;
    justify-content: center;
	}

	.sale__contact-column--right{
		max-width: 100%;
		justify-content: space-around;

	}

	.sale__contact-column--right label{
	}
}