body{
    font-weight: 400;
    color: #3b3b3b;
    font-family: "Lato";
    transition: all 0.2s ease-out;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    background-color: #FFFEFD;
}

aside{
    max-width: 210px;
    width: 100%;
}

main{

}

img{
    box-sizing: content-box;
    max-width: 100%;
    height: auto;
}

picture{
    display: flex;
}

li{
    list-style-type: none;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.visually-hidden{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus{
        background-color: #FAC663 !important;
}

.bx-wrapper .bx-pager.bx-default-pager a{
    background-color: #E1E1E1 !important;
        width: 12px !important;
    height: 12px !important;
}

@font-face{
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Lato";
    src: url("../fonts/Lato-bold.ttf");
    font-style: normal;
    font-weight: 600;
}

@keyframes change-yey{
  100%{fill: #FFAA50; }
}

.header__logo:hover .animation-svg-eye,
.about-top__logo:hover .animation-svg-eye{
    animation: change-yey .2s, popup 2s;
    animation-iteration-count: 2.3;
}

.bx-wrapper{
    background: inherit !important;
    border: none !important;
    box-shadow: none !important;
}

.bx-wrapper .bx-pager{
        margin: 0px 0 -120px 0 !important;
}

.bx-viewport{
    height: auto !important;
}

@media(max-width: 768px){
    .aside{
        display: none;
        position: absolute;
        background: #FFFEFD;
        box-shadow: 0px 4px 25px rgba(153, 153, 153, 0.25);
        border-radius: 6px;
        max-width: 332px;
        z-index: 1000;
        padding-left: 60px;
        padding-top: 50px;
        padding-bottom: 50px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .aside--active{
        display: flex;
        z-index: 100;
    }

    .overlay--active{
       position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    }
}

@media(max-width: 570px){
    .bx-wrapper .bx-pager{
           margin: 0px 0 0 0 !important; 
    }
}


.placemark_layout_container { 
            position: relative;
            font-family: Georgia;
            font-size: 40px;
            text-align: center;
            font-weight: bold;
        }
        
        /* Квадратный макет метки */
        .square_layout {
            position: absolute;
            left: -23px;
            top: -23px;
            width: 46px;
            height: 46px;
            line-height: 46px;
            border: 2px solid #218703;
            background-color: #F8FDF7;
            color: #218703;
        }
        
        /* Круглый макет метки */
        .circle_layout {
            background-color: white;
            position: absolute;
            left: -23px;
            top: -23px;
            width: 46px;
            height: 46px;
            border: 2px solid #225D9C;
            color: #225D9C;
            line-height: 46px;
            /* Это CSS свойство не будет работать в Internet Explorer 8 */
            border-radius: 50px;
        }
        
        /* Макет метки с "хвостиком" */
        .polygon_layout {
            position: relative;
            background: #ffffff;
            border: 4px solid #943A43;
            width: 50px; 
            height: 50px;
            position: absolute;
            left: -28px;
            top: -76px;
            color: #943A43;
        }
        
        .polygon_layout:after, .polygon_layout:before {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
        }
        
        .polygon_layout:after {
            border-top-color: #943A43;
            border-width: 10px;
            margin-left: -10px;
        }
        
        .polygon_layout:before {
            border-top-color: #943A43;
            border-width: 16px;
            margin-left: -16px;
        }