body{
    font-weight: 400;
    color: #3b3b3b;
    transition: all 0.2s ease-out;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 16px;
    overflow-x: hidden;

}

img{
    box-sizing: content-box;
    max-width: 100%;
    height: auto;
}

picture{
    display: flex;
}

li{
    list-style-type: none;
}

html{
    box-sizing: border-box;
}

ul{
    margin: 0px;
    padding: 0px;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.call-ring{
    position: absolute;
    z-index: 1000;
    right: 237px;
    bottom: 37px;
}

.visually-hidden{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

