body{
    font-weight: 400;
	  transition: 0.2s;
    overflow-x: hidden;
    color: #505050;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    transition: all 0.2s ease-out;
}

img{
    box-sizing: content-box;
    max-width: 100%;
    height: auto;
}

picture{
    display: flex;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.visually-hidden{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

.section{
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.bx-wrapper{
  background-color: inherit;
  border: none;
  box-shadow: none;
}

.bx-wrapper .bx-controls-direction a{
  display: none;
}

.bx-wrapper .bx-pager.bx-default-pager a{
  border-radius: 0px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus{
  background: #ff0036;
}