.hamburger {
	display: none;
	outline: none;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
	background-color: #000;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before{
	background-color: #000;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before{
	background-color: #fff;
}

@media(max-width: 1024px){
	.hamburger{
		display: flex;
	}
}