.logo{
	display: flex;
	align-items: center;

	span{
		color: #233348;
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
		margin-left: 12px;
	}
}

@media(max-width: 414px){
	.logo{

		justify-content: center;
		z-index: 100;
	
}
}